<!DOCTYPE html>
<html lang="" xmlns:th="https://www.thymeLeaf.org">
<head>
<link rel="stylesheet" href="/style.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Deposit</h1>
<form th:action="@{/accounts/deposit}" method="post">
<label for="accountNumber">Account Number</label>
<input type="text" id="accountNumber" name="accountNumber" required="required"><br><br>
<label for=amount>Amount</label>
<input type="text" id="amount" name="amount" required="required"><br><br>
<button type="submit">Deposit Amount</button>
</form>
</body>
</html>