
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<h1>CONDITIONAL STATEMENTS IN THYMELEAF</h1>

<h1> ELVIS</h1>
	<h1>
		<span th:style="${isActive}?'color:green':'color:red'"
			th:text="${isActive}?'ACTIVE':'NOT ACTIVE'"></span>
	</h1>

<h1> IF:UNLESS</h1>
	<h1 th:if="${gender}=='m'">MALE</h1>
	<h1 th:unless="${gender}=='m'">FEMALE</h1>



	<h3 th:text="${mylist}"></h3>
	<ul>
		<li th:each="n:${mylist}"><span th:text="${n}"> </span></li>
	</ul>


<h1>SWITCH</h1>
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="0">List contains 0 elements</h1>
		<h1 th:case="1">List contains 1 elements</h1>
		<h1 th:case="*">List contains more than 1 elements</h1>
	</div>

</body>
</html>