
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--  	<footer th:fragment="service" id="myfooter">
		<div class="container">
			<h2>THIS IS A PAGE FOR THYMELEAF FRAGMENTS</h2>
			<h3>THYMELEAF FRAGMENTS IN SPRINGBOOTS</h3>
		</div>
	</footer>

	<footer th:fragment="venky" id="veenkky">
		<div class="container">
			<h2>springboot</h2>
			<h3>thymeleaf fragments</h3>
		</div>
	</footer>

	<footer th:fragment="loorem" id="iddd">
		<div class="container">
			<h2>springboot</h2>=
			<h3>thymeleaf fragments</h3>
		</div>
	</footer>-->
	<h1> PROVIDING TITLE AND SUBTITLES IN THYMELEAF FRAGMENTS</h1>
	<footer th:fragment="service(title,subtitle)" id="myfooter">
		<div class="container">
		
		<h1 th:text="${title}"></h1>
		<h1 th:text="${subtitle}"></h1>
			<h2>THIS IS A PAGE FOR THYMELEAF FRAGMENTS</h2>
			<h3>THYMELEAF FRAGMENTS IN SPRINGBOOTS</h3>
		</div>
	</footer>
</body>
</html>